{% extends 'base.html' %}
{% block title%}Unit Converter - Length{% endblock %}

{% block content %}
    <div class="length-wrapper">
        <div class="btn-wrapper">
            <button class="category-btn active">Length</button>
            <button class="category-btn">Weight</button>
            <button class="category-btn">Temperature</button>
        </div>
        <form action="#" method="post">
            <p>Result of your calculation:</p>
            <p>{{ orig_length }} {{ from_unit }} = {{ value}} {{ to_unit }}</p>
            <input type="submit" value="Reset">
        </form>
    </div>
{% endblock %}